
body {
  margin: 0;
  font-family: Verdana, monospace, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
  background-color: #666666;
	text-shadow: #000 2px 2px 10px;
}

a {
  color: #fff;
	cursor: pointer;
} 
a:hover {
	color: #ccc;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

.page-header {
  border-bottom: 1px solid #eeeeee;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #555555;
  border: 1px solid #ccc;
}

.well {
  background-color: #777;
}

.btn {
  color: #000000;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'e6e6e6, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #000000;
  background-color: #e6e6e6;
}

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #777777, #aaaaaa);
  background-image: -ms-linear-gradient(top, #777777, #aaaaaa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777777), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #777777, #aaaaaa);
  background-image: -o-linear-gradient(top, #777777, #aaaaaa);
  background-image: linear-gradient(top, #777777, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'777777, endColorstr='#'aaaaaa, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #aaaaaa;
}

.btn-warning {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fbb450, endColorstr='#'f89406, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}

.btn-danger {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ee5f5b, endColorstr='#'bd362f, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f}

.btn-success {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'62c462, endColorstr='#'51a351, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}

.btn-info {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5bc0de, endColorstr='#'2f96b4, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #333333, #666666);
  background-image: -ms-linear-gradient(top, #333333, #666666);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#666666));
  background-image: -webkit-linear-gradient(top, #333333, #666666);
  background-image: -o-linear-gradient(top, #333333, #666666);
  background-image: linear-gradient(top, #333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'333333, endColorstr='#'666666, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #ffffff;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #000000;
  border-right: 1px solid #000000;
}

.navbar .nav > li > a {
  font-size: 14px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #ffffff;
  background-color: #999999;
}

.label-important,
.badge-important {
  background-color: #468847;
}

.label-warning,
.badge-warning {
  background-color: #b94a48;
}

.label-success,
.badge-success {
  background-color: #f89406;
}

.label-info,
.badge-info {
   background-color: #3a87ad;
}

.jumbotron {
	background-color: #444;
}

footer {
  padding-top: 20px;
}

h1.title {
	text-shadow: rgba(255, 255, 255, 0.2)  2px  2px 10px,
	             rgba(255, 255, 255, 0.2) -2px  2px 10px,
	             rgba(255, 255, 255, 0.2)  2px -2px 10px,
	             rgba(255, 255, 255, 0.2) -2px -2px 10px;

	font-weight: bold;
	letter-spacing: -0.03em;
}
#supported-album {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1px;
	border-radius: 10px;
}

#supported-album a {
	color: #fff;
	padding-bottom: 2px;
	cursor: pointer;
	border-radius: 10px;
}
#supported-album a:hover {
	background-color: #888;
	text-decoration: underline;
}
#supported-album a:active {
	background-color: #aaa;
}

.statusbar {
	font-size: 0.8em;
}

.text-danger, .text-danger:hover {
	color: #f33;
}
.text-warning, .text-warning:hover {
	color: #f90;
}

.album-key {
	font-weight: bold;
}
.album-value {
	font-size: 0.9em;
}

.caption {
	color: #fff !important;
	font-size: 0.9em;
}
